<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tarot Reading - Home Page</title>
    <link href="webjars/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Tarot reading - PDF generator</h1>
    <p>Welcome to tarot reading PDF generator!</p>
    <p>Just add the reading details and a PDF will be generated. </p>

    <div class="customer">
        Customer details here
    </div>

    <div class="reading">
        Reading details here
    </div>
</div>
</body>
</html>