<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="webjars/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <title>Tarot reading</title>
</head>
<body>
<div class="container">
    <div class="row">

        Tarot Reading

        <div class="col-4" th:text="${reading.getName()}"></div>

        <div class="col-4" th:text="${reading.getDate()}"></div>

    </div>
    <hr/>

    <div th:each="questionResponse: ${reading.getQuestions()}">
        <div th:text="${questionResponse.getQuestion()}"></div>
        <div th:each="card: ${questionResponse.getCards()}">
            <div th:text="${card}"></div>
        </div>
        <div th:text="${questionResponse.getComment()}"></div>
        <br/>
        <br/>
        <br/>

    </div>


</div>
</body>
</html>